<!-- Signup here -->
<h1>Register</h1>
<!-- Login here -->
<!-- <h1>Login</h1> -->
<form action="/register" method="POST">
    <div>
        <label for="name">Name</label>
        <input type="text" id="text" name="Name" required>
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="Email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="Password" required>
    </div>
</form>